<footer id="footer" class="footer dark-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="/" class="logo d-flex align-items-center">
          <img src="/assets/img/duitfirst-logo-removebg-notitle.png" alt="DuitFirst MY Logo" />
          <span class="sitename">DuitFirst</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Wish to have a chat?</p>
          <p>Please feel free to drop us a</p>
          <p>message on Instagram or WhatsApp!</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+6012-513 9022</span></p>
          <p><strong>Email:</strong> <span>duitfirst.my@gmail.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="https://www.instagram.com/duitfirst.my/" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-3 footer-links">
        <h4>Our Topics</h4>
        <ul>
          <li><a href="#">Thoughts</a></li>
          <li><a href="#credit-cards">Credit Cards</a></li>
          <li><a href="#">Loans</a></li>
          <li><a href="#">Housing</a></li>
          <li><a href="#">Investing</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span><strong class="px-1 sitename">DuitFirst</strong><span>All Rights Reserved</span></p>
    <div class="credits">
      Developed by <a href="https://www.clcheong.com">clcheong</a>
    </div>
  </div>
</footer>
