---
interface Props {
  title: string;
  positionRelative?: boolean;
}

const { title, positionRelative = false } = Astro.props;
---

<div class:list={['page-title', { 'position-relative': positionRelative }]}>
  <div class="container">
    <h1 class="mb-2 mb-lg-0">{title}</h1>
  </div>
</div>
